.vertical-center {
  min-height: 95%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 95vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
li {
  word-wrap: none;
  white-space: nowrap;
}
.wrap-all{
  word-wrap: break-word;
  white-space: normal;
}
ul {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}